
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/css/testt.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
    
    <title>Personal information</title>
</head>
<body>
    @RenderBody()
   
    <script src="~/Scripts/js/main.js"></script>

</body>
</html>